.button {
    color: var(--font-color);
    border-radius: var(--border-8);
    transition:
            background-color var(--transition-time)
            opacity var(--transition-time)
    ;

    &[data-btn-style="transparent"] {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.65);

        @include hover() {
            background-color: rgba(255, 255, 255, 0.07);
            border-color: #FFFFFF;
        }
    }

    &[data-btn-style="white-bg"] {
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(255, 255, 255, 0.9);
        color: var(--font-color-rev);

        @include hover() {
            opacity: 0.89;
        }
    }

    &[data-btn-style="telegram"] {
        background-color: rgba(var(--telegram-rgb), 0.9);
        border: 1px solid rgba(var(--telegram-rgb), 0.9);

        @include hover() {
            opacity: 0.89;
        }
    }

    @include lessMoreContrast() {
        border-width: 2px !important;
        border-style: solid !important;;
    }

    @include prefersContrast(more) {
        opacity: 1 !important;;
        color: var(--font-color) !important;;
        background-color: #6319ff !important;;

        &:focus-visible {
            outline: 4px solid #ffcc00 !important;;
            outline-offset: 2px !important;;
        }

        @include hover() {
            background-color: #9CE600 !important;;
            color: var(--font-color-rev) !important;;
        }

        &:hover,
        &:active {
            opacity: 1 !important;
        }
    }
}
