.project-card {
    border: 2px solid #1e1e1e;
    overflow: hidden;
    animation: spawn-anim var(--transition-time);
    background-color: rgba(14, 14, 14, 0.6);
    transition:
            scale var(--transition-time),
            transform var(--transition-time)
    ;

    @include hover() {
        scale: 0.997;
        transform: translateY(2px);
    }
}

@keyframes spawn-anim {
    from {
        scale: 0.98;
    }
    to {
        scale: 1;
    }
}

.project-card__content {
    z-index: 999;
    container-type: inline-size;
    container-name: projectCardContent;

    @include backdropBlur(2px, transparent);
}

.project-card,
.project-card__content {
    border-radius: var(--border-20);
}

.project-card__head {
    @container projectCardContent (max-width: 350px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: torem(5);
    }
}
