$bg-color-transparency: 0.15;
$border-color-transparency: 0.3;

.technology {
    border: 1px solid rgba(85, 85, 85, $border-color-transparency);
    background-color: rgba(85, 85, 85, $bg-color-transparency);
    border-radius: var(--border-circle);
    transition: scale var(--transition-time);
    cursor: default;

    @include hover() {
        scale: 1.02;
    }

    @include lessMoreContrast {
        border-width: 2px !important;
        border-color: #999999 !important;
        background-color: transparent !important;
    }

    &[data-technology-style="python"] {
        background-color: rgba(var(--python-rgb), $bg-color-transparency);
        border-color: rgba(var(--python-rgb), $border-color-transparency);
    }

    &[data-technology-style="aiogram"] {
        background-color: rgba(var(--aiogram-rgb), $bg-color-transparency);
        border-color: rgba(var(--aiogram-rgb), $border-color-transparency);
    }

    &[data-technology-style="sqlite"] {
        background-color: rgba(var(--sqlite-rgb), $bg-color-transparency);
        border-color: rgba(var(--sqlite-rgb), $border-color-transparency);
    }

    &[data-technology-style="redis"] {
        background-color: rgba(var(--redis-rgb), $bg-color-transparency);
        border-color: rgba(var(--redis-rgb), $border-color-transparency);
    }

    &[data-technology-style="sqlalchemy"] {
        background-color: rgba(var(--sqlalchemy-rgb), $bg-color-transparency);
        border-color: rgba(var(--sqlalchemy-rgb), $border-color-transparency);
    }

    &[data-technology-style="fastapi"] {
        background-color: rgba(var(--fastapi-rgb), $bg-color-transparency);
        border-color: rgba(var(--fastapi-rgb), $border-color-transparency);
    }

    &[data-technology-style="pydantic"] {
        background-color: rgba(var(--pydantic-rgb), $bg-color-transparency);
        border-color: rgba(var(--pydantic-rgb), $border-color-transparency);
    }

    &[data-technology-style="bash"] {
        background-color: rgba(var(--bash-rgb), $bg-color-transparency);
        border-color: rgba(var(--bash-rgb), $border-color-transparency);
    }

    &[data-technology-style="docker"] {
        background-color: rgba(var(--docker-rgb), $bg-color-transparency);
        border-color: rgba(var(--docker-rgb), $border-color-transparency);
    }

    &[data-technology-style="git"] {
        background-color: rgba(var(--git-rgb), $bg-color-transparency);
        border-color: rgba(var(--git-rgb), $border-color-transparency);
    }

    &[data-technology-style="javascript"] {
        background-color: rgba(var(--javascript-rgb), $bg-color-transparency);
        border-color: rgba(var(--javascript-rgb), $border-color-transparency);
    }

    &[data-technology-style="typescript"] {
        background-color: rgba(var(--typescript-rgb), $bg-color-transparency);
        border-color: rgba(var(--typescript-rgb), $border-color-transparency);
    }

    &[data-technology-style="reactjs"] {
        background-color: rgba(var(--reactjs-rgb), $bg-color-transparency);
        border-color: rgba(var(--reactjs-rgb), $border-color-transparency);
    }

    &[data-technology-style="html"] {
        background-color: rgba(var(--html-rgb), $bg-color-transparency);
        border-color: rgba(var(--html-rgb), $border-color-transparency);
    }

    &[data-technology-style="css"] {
        background-color: rgba(var(--css-rgb), $bg-color-transparency);
        border-color: rgba(var(--css-rgb), $border-color-transparency);
    }

    &[data-technology-style="scss"] {
        background-color: rgba(var(--scss-rgb), $bg-color-transparency);
        border-color: rgba(var(--scss-rgb), $border-color-transparency);
    }

    &[data-technology-style="bem_methodology"] {
        background-color: rgba(var(--bem-methodology-rgb), $bg-color-transparency);
        border-color: rgba(var(--bem-methodology-rgb), $border-color-transparency);
    }

    &[data-technology-style="tailwind"] {
        background-color: rgba(var(--tailwind-rgb), $bg-color-transparency);
        border-color: rgba(var(--tailwind-rgb), $border-color-transparency);
    }
}