.glass {
    border: 1px solid #282828;
    border-radius: var(--border-circle);

    @include backdropBlur(10px, rgba(40, 40, 40, 0.3));

    @include lessMoreContrast() {
        @include backdropBlur(0px, rgba(40, 40, 40, 1));
    }

    @include activeForcedColors() {
        @include backdropBlur(0px, rgba(40, 40, 40, 1));
    }
}

.with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

$grid-color: #242424;      // Цвет линий сетки
$grid-size: 50px;          // Размер ячейки
$vignette-opacity: 70%;    // Насколько сильно затемнять края

.page-background {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-color: var(--bg-color);
    background-image:
            radial-gradient(
                    circle at center,
                    transparent 0%,
                    color-mix(in srgb, var(--bg-color) $vignette-opacity, transparent) 70%,
                    var(--bg-color) 100%
            ),
            linear-gradient(to right, $grid-color 1px, transparent 1px),
            linear-gradient(to bottom, $grid-color 1px, transparent 1px)
    ;
    background-repeat: no-repeat, repeat, repeat;
    background-size: cover, $grid-size $grid-size, $grid-size $grid-size;
    background-position: center, top left, top left;

    @include lessMoreContrast() {
        background-image: none;
    }

    @include activeForcedColors() {
        background-image: none;
    }
}

.card-spotlight {
    position: relative;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(255, 255, 255, 0.05);
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        opacity: 0;
        background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
        transition: opacity 0.5s ease;
        pointer-events: none;
        z-index: 2;

        @include lessMoreContrast() {
            background-image: none;
        }

        @include activeForcedColors() {
            background-image: none;
        }
    }

    &:hover::before,
    &:focus-within::before {
        opacity: 0.6;
    }
}

.red-glow {
    filter: drop-shadow(30px 8px 20px rgba(255, 0, 0, 0.7));

    @include lessMoreContrast() {
        filter: drop-shadow(0 0 0 transparent);
    }

    @include activeForcedColors() {
        filter: drop-shadow(0 0 0 transparent);
    }
}

.jetbrains-mono-font {
    font-family: var(--jetbrains-mono);
}

.description-text {
    color: var(--description-text-color);
}
.skylight-blue-text {
    color: rgb(var(--skylight-blue-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.pale-blue-text {
    color: rgb(var(--pale-blue-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.red-text {
    color: rgb(var(--red-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.purple-text {
    color: rgb(var(--purple-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.pale-orange-text {
    color: rgb(var(--pale-orange-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.blue-text {
    color: rgb(var(--blue-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.python-text {
    color: rgb(var(--python-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.fastapi-text {
    color: rgb(var(--fastapi-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.pydantic-text {
    color: rgb(var(--pydantic-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.typescript-text {
    color: rgb(var(--typescript-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.react-text {
    color: rgb(var(--reactjs-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.next-text {
    color: rgb(var(--nextjs-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.scss-text {
    color: rgb(var(--scss-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.telegram-text {
    color: rgb(var(--telegram-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.discord-text {
    color: rgb(var(--discord-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.vk-text {
    color: rgb(var(--vk-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.max-text {
    color: rgb(var(--max-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.bem-methodology-text {
    color: rgb(var(--bem-methodology-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.tailwind-text {
    color: rgb(var(--tailwind-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.aiogram-text {
    color: rgb(var(--aiogram-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.sqlalchemy-text {
    color: rgb(var(--sqlalchemy-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}
.sqlite-text {
    color: rgb(var(--sqlite-rgb));
    @include lessMoreContrast() { color: var(--font-color); }
}

.italic-style {
    font-style: italic;

    @include lessMoreContrast() {
        font-style: normal !important;
    }
}