.container {
    max-width: var(--max-site-container-width);
}

#box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;

    @include marginCenter();
}

.no-display {
    @include noDisplay();
}

.hidden-tablet {
    @include tablet {
        @include noDisplay();
    }
}
.visible-tablet {
    @include tabletAbove {
        @include noDisplay();
    }
}

.hidden-mobile {
    @include mobile {
        @include noDisplay();
    }
}

.visible-mobile {
    @include mobileAbove {
        @include noDisplay();
    }
}


